.contato {
    background-color: var(--branco);

    padding: 0.5rem 1.5rem 1.7rem 1.5rem;
}

.contato__titulo,
.contato__texto {
    background: var(--azul-degrade);
    background-clip: text;

    font-size: 1.125rem;
    font-weight: 500;

    line-height: 1.6875rem;

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.contato__texto {
    font-size: 1rem;
    font-weight: 300;

    line-height: 1.5rem;

    padding-right: 2rem;

    margin: 0.5rem 0 1rem 0;
}

.contato__email {
    border: 0.0625rem solid var(--azul-subtitulo);
    border-radius: 1.5rem;

    padding: 0.9rem;

    width: 100%;

    box-sizing: border-box;

    color: var(--azul-subtitulo);
}

.contato__email::placeholder {
    background: url(../img/Email.svg) no-repeat;
    background-position: 0.5rem;

    padding: 2.5rem;

    color: var(--azul-subtitulo);

    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1rem;
}

@media (width >= 1024px) {
    .contato  {
        display: grid;
        grid-template-columns: 1fr 1fr;

        padding: 2rem 7rem;
    }

    .contato__primeira-coluna {
        padding: 0 2rem;
    }
    
    .contato__titulo {
        font-size: 1.5rem;

        line-height: 2.25rem;

        margin-bottom: 1rem;
    }

    .contato__segunda-coluna {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contato__email {
        padding: 0.9rem;
    
        width: 80%;
        height: 30%;
    }
}

@media (width >= 1728px) {
    .contato {
        padding: 3rem 25vw;
    }

    .contato__primeira-coluna {
        padding: 0 1rem;
    }

    .contato__email {
        padding: 1.3rem;
    }
}
