.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--branco);

    position: relative;
}

.container {
    display: flex;
    align-items: center;

    margin-right: 1rem;
}

.cabecalho__menu {
    display: flex;
    flex-direction: column;

    padding: 1.3rem 0rem 1.7rem 0rem;
}

.cabecalho__menu-hamburger {
    background: var(--azul-degrade);
    
    display: inline-block;

    width: 2.25rem;
    height: 0.29rem;

    margin: 0.35rem 1.5rem 0 1.5rem;
}

.container__imagem {
    padding: 0.5rem 0.5rem 0.5rem 0;
}

.logo {
    margin: 0 0.75rem;
}

.lista-menu {
    display: none;

    z-index: 2;

    position: absolute;
    top: 100%;

    width: 70vw;

    box-shadow: 0px 0.5rem 0.5rem var(--sombra);
}

.container__botao:checked~.cabecalho__menu {
    background: var(--azul-degrade);
}

.container__botao:checked~.cabecalho__menu>.cabecalho__menu-hamburger {
    background: var(--branco);
}

.container__botao:checked~.lista-menu {
    display: block;
}

/*explicando o seletor acima (pra mim mesmo): 
O combinador geral de elementos irmãos "~" (tio) seleciona elementos irmãos que compartilham de um mesmo pai, onde o elemento da direita vem depois (não necessariamente de forma imediata) do elemento da esquerda.

O seletor acima vai se comportar de uma maneira parecida com uma condicional IF de JavaScript:
- Se o elemento container__botao estiver "checked", o combinador "~" vai procurar o elemento de nome lista-menu que venha depois de container__botao para então aplicar "display: block" nele.
*/

.container__botao {
    display: none;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1rem 1.5rem;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);

    padding-top: 1.5rem;

    font-weight: 700;
}

.lista-menu__link {
    color: var(--azul-lista-menu);
    text-decoration: none;
    text-transform: uppercase;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

@media screen and (min-width:1024px) {
    .cabecalho {
        height: 5rem;
    }
    
    .container {
        margin-right: 2.5rem;
    }

    .cabecalho__menu-hamburger,
    .container__imagem-transparente {
        display: none;
    }

    .container__titulo,
    .container__titulo--negrito {
        display: inline-block;
        
        font-family: var(--fonte-logo);
        font-size: 1.875rem;
        font-weight: 400;

        line-height: 1.875rem;

        height: 1.875rem;

        padding-top: 0.3rem;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked~.opcoes__menu {
        background: var(--azul-degrade);

        color: var(--branco);
    }

    .opcoes__botao:checked~.lista-menu  {
        display: block;

        width: 20vw;
    }

    .opcoes__item {
        padding: 0.7rem 1.5rem 0.7rem 1.5rem;

        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;

        font-weight: 400;

        color: var(--preto);
    }

    .container__imagem {
        padding: 0.7rem 1.5rem 0rem 1.5rem;
    }
    
    .logo {
        margin-left: 5rem;

        padding: 0rem;
    }

    .lista-menu {
        top: 75%;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover>.lista-menu__link {
        color: var(--branco);
    }
}
