.topicos {
    background-color: var(--branco);

    padding: 1rem 0;
}

.topicos__caixa {
    background: var(--azul-degrade);

    text-align: center;

    padding: 0.3rem;
}

.topicos__titulo {
    font-weight: 300;

    color: var(--branco);

    text-transform: uppercase;

    margin: 1.3rem 0;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin: 1.5rem 0 0.5rem 0;
}

.topicos__item {
    margin: 1.4rem 0.5rem;
}

.topicos__link {
    background-color: var(--laranja);

    font-size: 0.875rem;
    font-weight: 700;

    line-height: 1.3125rem;
    
    text-decoration: none;

    color: var(--branco);

    padding: 1rem 1.5rem;
}

@media screen and (min-width:1024px) {
    .topicos {
        padding: 0;
    }

    .topicos__caixa {
        padding: 0.7rem 5rem;
    }

    .topicos__titulo {
        font-weight: 300;
        font-size: 1.5rem;

        line-height: 2.25rem;

        margin: 1.5rem 0;
    }

    .topicos__lista {
        margin: 2rem 0 0.5rem 0;
    }

    .topicos__link  {
        font-size: 1.5rem;
        line-height: 2.25rem;

        padding: 1.5rem 2rem;
    }

    .topicos__item {
        margin: 2.3rem 0.7rem;
    }

    .topicos__item__android {
        order: -2;
    }

    .topicos__item__OO {
        order: -1;
    }

    .topicos__item__python {
        order: 8;
    }
}
